<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_movil_supermercado_producto_juan_jima">

    <!--  Permisos de ubicación -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.App_Movil_Supermercado_Producto_Juan_Jima"
        tools:targetApi="31">

        <!-- 🔑 API Key para Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBRvM28VhGoMHCdCNBWygI1f4T4i-utWPc" />

        <!--  Actividad del Mapa corregida -->
        <activity
            android:name=".Mapa"
            android:exported="false"
            android:label="@string/title_activity_mapa" />

        <activity
            android:name=".ActivityAgregarEditarProducto"
            android:exported="false" />
        <activity
            android:name=".ActivityProductoList"
            android:exported="false" />
        <activity
            android:name=".ActivitySupermercadoList"
            android:exported="false" />
        <activity
            android:name=".ActivityAgregarEditarSupermercado"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
